@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #a6e2ff; /* Light Blue */
}

.login-form, .signup-form {
  position: relative;
  width: 370px;
  height: auto;
  background: #f4f9fb; /* Medium Blue */
  padding: 40px 35px 60px;
  box-sizing: border-box;
  border: 1px solid #b2d5db; /* Dark Blue */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text {
  font-size: 30px;
  color: #001f3f; /* Dark Blue */
  font-weight: 600;
  letter-spacing: 2px;
}

form {
  margin-top: 40px;
}

.field {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.field .fas {
  height: 50px;
  width: 60px;
  color: #001f3f; /* Dark Blue */
  font-size: 20px;
  line-height: 50px;
  border: 1px solid #b2d5db; /* Dark Blue */
  border-right: none;
  border-radius: 5px 0 0 5px;
  background: #f4f9fb; /* Medium Blue */
}

.field input[type="text"],
.field input[type="password"] {
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 19px;
  color: #001f3f; /* Dark Blue */
  padding: 0 15px;
  border: none;
  border-bottom: 2px solid #3498db; /* Medium Blue */
  background: transparent;
  transition: border-bottom 0.3s;
}

.field input[type="text"]:focus,
.field input[type="password"]:focus {
  border-bottom: 2px solid #001f3f; /* Dark Blue */
}

button {
    margin-top: 30px;
    padding: 12px 20px;
    border-radius: 5px!important;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    background: #3498db; /* Medium Blue */
    color: #fff;
    border: none;
    width: 100%;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background: #217dbb; /* Slightly darker Medium Blue */
    border: 1px solid #217dbb; 
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.3),
                0 0 10px rgba(52, 152, 219, 0.2),
                0 0 15px rgba(52, 152, 219, 0.1),
                0 2px 0 black;
    color: #fff;
}

.link {
  margin-top: 25px;
  color: #888;
}

.link a {
  color: #3498db; /* Medium Blue for links */
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}
